pkgbase = proton-mail
	pkgdesc = Proton official desktop application for Proton Mail and Proton Calendar (with system tray & close-to-tray)
	pkgver = 1.14.0
	pkgrel = 3
	url = https://proton.me/mail
	install = proton-mail.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = asar
	makedepends = imagemagick
	makedepends = librsvg
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = hicolor-icon-theme
	optdepends = libappindicator: AppIndicator system tray support on modern desktops
	optdepends = gnome-shell-extension-appindicator: AppIndicator support for GNOME Shell
	optdepends = libnotify: desktop notifications
	optdepends = wl-clipboard: clipboard support on Wayland
	optdepends = xdg-utils: default browser and URL handling
	optdepends = org.freedesktop.secrets: keychain/credential storage via Secret Service
	provides = proton-mail-bin
	provides = proton-mail-desktop
	conflicts = proton-mail-bin
	conflicts = proton-mail-desktop
	replaces = proton-mail-bin
	options = !strip
	options = !debug
	backup = etc/proton-mail-flags.conf
	source = proton-mail-1.14.0.deb::https://proton.me/download/mail/linux/1.14.0/ProtonMail-desktop-beta.deb
	source = proton-mail-tray.svg::https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/proton-mail.svg
	source = proton-mail.sh
	source = proton-mail-flags.conf
	source = proton-mail.desktop
	source = proton-mail.png
	source = patch-tray.js
	sha256sums = c81e5e297856f5b986c47b2338a665348d897cdf025c5cf53f3dbeefb0cf6288
	sha256sums = 2cf6f56e7ac141fcc13e7b3bc3dbf19542910acee86bdc52f5ba3ee92e195997
	sha256sums = b89e1368579dcf974c0178190ebddbce6b9241f4e521a2b5fde4c5cba3386d30
	sha256sums = 06e5754ed70170df93823bf62805a1f82da773ef92d6210f14209298d43908c6
	sha256sums = 8099d23ec71f2074dc874a5487808aacfd56ece2c40110e98f62ed725b3180cd
	sha256sums = 9a84b663bc99285a368366da54a06a614b564b05c92b9e78669b27c4545d3773
	sha256sums = 5e1ad73ceee99e9de38cdf691083c7d81b6c47666a0978bd72a5a8c77da5a63c

pkgname = proton-mail
