pkgbase = zen-browser
	pkgdesc = Zen Browser — a privacy-focused, feature-packed Firefox-based web browser
	pkgver = 1.22.2b
	pkgrel = 3
	url = https://github.com/zen-browser/desktop
	install = zen-browser.install
	arch = x86_64
	license = MPL-2.0
	makedepends = imagemagick
	depends = gtk3
	depends = libxt
	depends = mime-types
	depends = nss
	depends = ttf-font
	depends = systemd
	depends = ffmpeg
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = libnotify: Notification integration
	optdepends = pulse-native-provider: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = xdg-desktop-portal: Screen sharing and file dialogs on Wayland
	optdepends = pipewire: Screen sharing support on Wayland compositors
	optdepends = wl-clipboard: Clipboard support on Wayland
	optdepends = ffmpeg4.4: Legacy codec support for Twitch and YouTube live streams
	provides = zen-browser-bin
	conflicts = zen-browser-bin
	replaces = zen-browser-bin
	options = !strip
	options = !debug
	backup = etc/zen-browser-flags.conf
	source = zen-browser-1.22.2b.tar.xz::https://github.com/zen-browser/desktop/releases/download/1.22.2b/zen.linux-x86_64.tar.xz
	source = zen-browser.sh
	source = zen-browser-flags.conf
	source = zen.desktop
	source = zen-private.desktop
	source = zen-browser.png
	source = zen-browser-private.svg
	source = zen-browser.install
	source = policies.json
	sha256sums = 163823cf56b068e81bb8a48d93c9dbda3993f54f03f8d37e684e380bfc11b892
	sha256sums = 0234c2ed7fa451905beedd96c277b28263495a945d6c337b048a14b81d949290
	sha256sums = e1e70b93f4707525d517746933b668f9faabd72e2dac7640324a2e106df10769
	sha256sums = f30ce9dcdacfeda003f2de686a916e2a7c9d102ff49e65e54fd2940c323e5f0e
	sha256sums = 3c0115754f6c960e5c1481dc502e44f1692a64c3779b9140ef8cdb4faacc4d48
	sha256sums = f9586255a530a43531793180d91aa1840ad957fdd9dab170a859511b60becaa0
	sha256sums = ad34ee3868e154044b99da4b6e4893259e20245c1dbcbd49106c6245b31d97e3
	sha256sums = 7c790b21b6123a22b8142b197246de631e5c73e215060aeb2a64e17f08944f4a
	sha256sums = fd9572d178ea1a5edf427ca85bad3fb2d83be2e250e62bad13951d70d977bd0f

pkgname = zen-browser
