[Desktop Entry]
Type=Application
Name=HyprMod
GenericName=Hyprland Settings
Comment=Native GTK4/libadwaita settings app for Hyprland
Exec=hyprmod %U
Icon=io.github.bluemancz.hyprmod
Terminal=false
Categories=Settings;DesktopSettings;GTK;
Keywords=hyprland;compositor;wayland;configuration;monitors;keybinds;
StartupNotify=true
StartupWMClass=io.github.bluemancz.hyprmod
