pkgbase = freedownloadmanager-elephant
	pkgdesc = Free Download Manager add-on for downloading videos from various sites (powered by yt-dlp)
	pkgver = 1.3.8
	pkgrel = 1
	url = https://github.com/meowcateatrat/elephant
	install = freedownloadmanager-elephant.install
	arch = any
	license = MIT
	depends = freedownloadmanager
	depends = deno
	depends = python
	provides = freedownloadmanager-elephant-bin
	conflicts = freedownloadmanager-elephant-bin
	noextract = freedownloadmanager-elephant-1.3.8.fda
	options = !strip
	options = !debug
	source = freedownloadmanager-elephant-1.3.8.fda::https://github.com/meowcateatrat/elephant/releases/download/1.3.8/elephant.fda
	source = LICENSE-1.3.8::https://raw.githubusercontent.com/meowcateatrat/elephant/1.3.8/LICENSE
	sha512sums = 3083a023ac222731c85a0141bbccbbe4398da4fedcba15db36d3edfe414f3caa686d2d6619febe23b5593be529ee65512f921dcfba8f5a5fe54c77a5333de0f4
	sha512sums = 912e814f244d8016b8b476e9d9aa88efc6c0829383c3d6e7447ab5a597624debf55ae18925399228c8b5dfa3183914f605485748ce1cadf61a5c07c946bddec1

pkgname = freedownloadmanager-elephant
