pkgbase = galaxybudsclient
	pkgdesc = Unofficial manager for Samsung Galaxy Buds (Buds, Buds+, Buds Live, Buds Pro, Buds2, Buds2 Pro, Buds FE, Buds3, Buds3 Pro)
	pkgver = 5.2.1
	pkgrel = 1
	url = https://github.com/timschneeb/GalaxyBudsClient
	install = galaxybudsclient.install
	arch = x86_64
	license = GPL-3.0-only
	depends = bluez
	depends = fontconfig
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libice
	depends = libsm
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxrandr
	depends = openssl
	depends = zlib
	optdepends = noto-fonts: recommended default font for Avalonia UI fallback
	optdepends = bluez-utils: Bluetooth management and debugging tools
	optdepends = libnotify: desktop notifications
	optdepends = wl-clipboard: clipboard support on Wayland
	provides = galaxybudsclient-bin
	conflicts = galaxybudsclient-bin
	conflicts = galaxybudsclient-git
	replaces = galaxybudsclient-bin
	options = !strip
	options = !debug
	backup = etc/galaxybudsclient-flags.conf
	source = galaxybudsclient-5.2.1.bin::https://github.com/timschneeb/GalaxyBudsClient/releases/download/5.2.1/GalaxyBudsClient_Linux_64bit_Portable.bin
	source = galaxybudsclient.sh
	source = galaxybudsclient-flags.conf
	source = galaxybudsclient.desktop
	source = galaxybudsclient.png
	sha256sums = fa3b0889c2142821f10a2df2b359c7573106c2e0559c9465dd32d983ef1f9ae3
	sha256sums = 813e0ed604ff191c40aaf4135f9c9e7c9cdbf4599d5ed23921646c40f9e1a988
	sha256sums = eb3874a9217f2c5d66db5f47f7dee970ed4585948d6ea4728efb0d43db2b2e68
	sha256sums = 66f8142fdd119a30e05427fbacd4d00a829d21f94ed907dec00296bb7c4a8cf4
	sha256sums = d116c9e3b2f3b1523c089676d4911e2ec0c848f5b2ae145576581d1a4adffd3d

pkgname = galaxybudsclient
