pkgbase = beeper-bin
	pkgdesc = The ultimate messaging app (formerly Beeper v4)
	pkgver = 4.3.104
	pkgrel = 1
	url = https://www.beeper.com/changelog
	arch = x86_64
	license = LicenseRef-beeper
	makedepends = asar
	depends = libappindicator-gtk3
	depends = libnotify
	depends = libsecret
	depends = hicolor-icon-theme
	provides = beeper
	provides = beeper-v4-bin
	conflicts = beeper
	conflicts = beeper-v4-bin
	options = !strip
	options = !debug
	source = Beeper-4.3.104-x86_64.AppImage::https://beeper-desktop.download.beeper.com/builds/Beeper-4.3.104-x86_64.AppImage
	source = beeper.sh
	source = beeper.desktop
	sha256sums = 6b42072150559ba8f529fdec800f800fd51fa6e1241ae4cb60e4454247b2c3e9
	sha256sums = 6f9be57974047d54a2567c3600e083ec159330c7382cf88b8dd9e564b90aecd1
	sha256sums = 87909f61383ecc5a962f6d10a713ff53503537f4c876eb8bc478ad5fd80c3182

pkgname = beeper-bin
