pkgbase = hyprmod
	pkgdesc = Native GTK4/libadwaita settings app for Hyprland
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/BlueManCZ/hyprmod
	install = hyprmod.install
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-wheel
	depends = gtk4
	depends = libadwaita
	depends = python
	depends = python-gobject
	optdepends = hyprland: the dynamic tiling Wayland compositor configured by HyprMod
	optdepends = xdg-desktop-portal-hyprland: Wayland desktop portal integration
	provides = hyprmod-bin
	provides = python-hyprland-config
	provides = python-hyprland-monitors
	provides = python-hyprland-schema
	provides = python-hyprland-socket
	provides = python-hyprland-state
	conflicts = hyprmod-bin
	conflicts = python-hyprland-config
	conflicts = python-hyprland-monitors
	conflicts = python-hyprland-schema
	conflicts = python-hyprland-socket
	conflicts = python-hyprland-state
	replaces = hyprmod-bin
	options = !debug
	backup = etc/hyprmod-flags.conf
	source = hyprmod-0.4.0.tar.gz::https://github.com/BlueManCZ/hyprmod/archive/refs/tags/v0.4.0.tar.gz
	source = hyprland_config-0.9.16-py3-none-any.whl::https://files.pythonhosted.org/packages/15/43/b40900b6998e26dcf40699e92d8b0339ebb99ece0bc4426ff8ac1a039659/hyprland_config-0.9.16-py3-none-any.whl
	source = hyprland_monitors-0.9.0-py3-none-any.whl::https://files.pythonhosted.org/packages/ea/e5/5515c5d0ef146622250cc9cbdfdf1b603b77087553becb1191501de88d71/hyprland_monitors-0.9.0-py3-none-any.whl
	source = hyprland_schema-0.7.1-py3-none-any.whl::https://files.pythonhosted.org/packages/0f/24/66d5aad64573e38a5ec31820f3a920ff6a79364a329dba7f3e708bced536/hyprland_schema-0.7.1-py3-none-any.whl
	source = hyprland_socket-0.12.2-py3-none-any.whl::https://files.pythonhosted.org/packages/e4/74/e156c61e041b357591749aa480257b129e4c9a186faed98fd72551c68049/hyprland_socket-0.12.2-py3-none-any.whl
	source = hyprland_state-0.4.7-py3-none-any.whl::https://files.pythonhosted.org/packages/c9/43/4452549ec8208ef093c1cdd880ab2f6e0f3b0a3916dc00b7d3b8f94f83df/hyprland_state-0.4.7-py3-none-any.whl
	source = hyprmod.sh
	source = hyprmod-flags.conf
	source = hyprmod.desktop
	source = hyprmod.png
	sha256sums = fd3672ad5257bb65038fd7442553fd1a8cfb5c41a0320186797368a7f2abbc9f
	sha256sums = 1a8c78347f85054033425519ba7680eff609cca43cf43e235f38242a0614af74
	sha256sums = 0f6eeb3dae2a9db0a5eaaeca09aa63f4ff0d31d6ff7dbe763245b501208f1989
	sha256sums = 97637f24ac593232e388f99b079c4166cc8e321775e9097470f3b467cda551dc
	sha256sums = 4f1d007b7f9165447c39c66c578012bd2628331aeadb3a81c2fe2229711dc4d7
	sha256sums = ef4e4db2f0769d49c1c3291ebb8ddcaa9fc1d59c1022e0a75407b49b794ab269
	sha256sums = 717aecdd4bbf84afd2c4faea7dcc2eec26aa5471b07b4d971154699dd594881f
	sha256sums = b4a7091e48834f18dfb38684ef1b47f5c61f9f51dd5ae813e351149442e0f3ce
	sha256sums = ff442c38ebc64d52eb0469e4e1aa59e10f1d4997eade82f39a266003cc08c8e2
	sha256sums = 1f55a0450134b2298c999d7341644eb85f73632353cb6970dc2aad84b82ae71f

pkgname = hyprmod
