pkgbase = zotero-mcp
	pkgdesc = Model Context Protocol (MCP) server and standalone CLI for Zotero
	pkgver = 0.12.0
	pkgrel = 1
	url = https://github.com/54yyyu/zotero-mcp
	arch = x86_64
	license = MIT
	makedepends = uv
	depends = python
	optdepends = zotero: local Zotero desktop library access
	provides = zotero-mcp-server
	conflicts = zotero-mcp-server
	options = !strip
	options = !debug
	source = zotero-mcp-0.12.0.tar.gz::https://github.com/54yyyu/zotero-mcp/archive/refs/tags/v0.12.0.tar.gz
	sha256sums = 1996275a3dbe649a62532345b6ea471442a6e84f12c146b0fae413de63888779

pkgname = zotero-mcp
