pkgbase = antigravity
	pkgdesc = Google Antigravity 2.0 multi-agent orchestration platform
	pkgver = 2.13.0
	pkgrel = 1
	url = https://antigravity.google
	install = antigravity.install
	arch = x86_64
	license = LicenseRef-Google-Antigravity
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libgcc
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	optdepends = wl-clipboard: Wayland clipboard integration
	optdepends = xclip: X11 clipboard integration
	provides = antigravity-bin
	conflicts = antigravity-bin
	replaces = antigravity-bin
	options = !strip
	options = !debug
	backup = etc/antigravity-flags.conf
	source = Antigravity-2.13.0-6362815968182272-x86_64.tar.gz::https://storage.googleapis.com/antigravity-public/antigravity-hub/2.13.0-6362815968182272/linux-x64/Antigravity.tar.gz
	source = antigravity.sh
	source = antigravity.desktop
	source = antigravity-flags.conf
	source = antigravity.png
	sha256sums = a47a2434d920008792f3ce43ef502d486c326d2098082590831800b5b093f643
	sha256sums = a58cdf0fac31cf33c247a91849aa6d8383a9436715a356c74773c49094c4fdcd
	sha256sums = 5db883a9e0270182eec9fba2ee8777eee37691345992c8b126ad039ac16b2692
	sha256sums = 5659ed3c7e04af07aece4db774e656c3d92d09f83b96c0111d80c12940cab76f
	sha256sums = b27f0e4a6f14f491ba31bb24533a1f43c677362b12a0744a53fdd09d7c785317

pkgname = antigravity
