pkgbase = zalo-for-linux
	pkgdesc = Zalo for Linux — unofficial port for Linux systems with Wayland & flags support
	pkgver = 26.8.20
	pkgrel = 4
	url = https://github.com/doandat943/zalo-for-linux
	install = zalo-for-linux.install
	arch = x86_64
	license = MIT
	makedepends = asar
	depends = bash
	depends = glibc
	depends = zlib
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	optdepends = wl-clipboard: paste images from clipboard on Wayland
	optdepends = xclip: paste images from clipboard on X11
	optdepends = grim: screenshot tool on Wayland
	optdepends = slurp: screenshot region selection on Wayland
	optdepends = flameshot: screenshot tool
	optdepends = spectacle: screenshot tool
	optdepends = wine: Voice/Video call engine support (or download portable wine in-app)
	optdepends = v4l-utils: control camera formats
	optdepends = v4l2loopback-dkms: loopback camera support
	optdepends = xorg-server-xvfb: headless X server for Wayland screen-sharing bridge
	optdepends = xdotool: window resizing for screen bridge display
	optdepends = gst-plugins-base: 64-bit GStreamer plugins for screen bridge
	optdepends = gst-plugins-bad: 64-bit GStreamer plugins for screen bridge
	provides = zalo
	provides = zalo-for-linux-bin
	provides = zalux-bin
	conflicts = zalo
	conflicts = zalo-for-linux-bin
	conflicts = zalux-bin
	replaces = zalo-for-linux-bin
	options = !strip
	options = !debug
	backup = etc/zalo-flags.conf
	source = zalo.AppImage::https://github.com/doandat943/zalo-for-linux/releases/download/26.8.20/Zalo-26.8.20-87b0696.AppImage
	source = fix-zcall-async.patch
	source = zalo.desktop
	source = Zalo.png
	source = zalo.sh
	source = zalo-flags.conf
	sha256sums = SKIP
	sha256sums = 16b9e68906e4823eecc12b812f1bb8e9806bc08cc42c8372a6f192ff831b1b8c
	sha256sums = SKIP
	sha256sums = 54556414e921d2e72db65cdace024251c05e31ce2e1aa3db82aa330436815445
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = zalo-for-linux
