pkgbase = beeper
	pkgdesc = The ultimate messaging app (formerly Beeper v4)
	pkgver = 4.3.113
	pkgrel = 1
	url = https://www.beeper.com/changelog
	install = beeper.install
	arch = x86_64
	license = LicenseRef-beeper
	makedepends = asar
	depends = libappindicator-gtk3
	depends = libnotify
	depends = libsecret
	depends = hicolor-icon-theme
	provides = beeper-bin
	provides = beeper-v4-bin
	conflicts = beeper-bin
	conflicts = beeper-v4-bin
	replaces = beeper-bin
	options = !strip
	options = !debug
	source = Beeper-4.3.113-x86_64.AppImage::https://beeper-desktop.download.beeper.com/builds/Beeper-4.3.113-x86_64.AppImage
	source = beeper.sh
	source = beeper.desktop
	sha256sums = c690243fbbacfac7afd143403db83d5032c3fca4038582d44bf625403dc4aa5b
	sha256sums = d1d037ee6661a8094bf31b9337b3793256c354bde5321c9bf633896c671770b3
	sha256sums = 87909f61383ecc5a962f6d10a713ff53503537f4c876eb8bc478ad5fd80c3182

pkgname = beeper
